* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fond sombre */
    color: #ffffff; /* Texte blanc */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajustement de la hauteur minimale */
}

.container {
    text-align: center;
    width: 100%; /* S'assurer que la conteneur occupe toute la largeur */
    padding: 20px; /* Ajout de rembourrage */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em; /* Taille de la police pour le titre */
}

table {
    width: 100%;
    border-collapse: collapse; /* Supprimer les espaces entre les cellules */
    margin-top: 20px; /* Marge supérieure pour le tableau */
}

table, th, td {
    border: 1px solid #ffffff; /* Bordure blanche */
}

th, td {
    padding: 10px; /* Remplissage interne pour les cellules */
    text-align: center; /* Centrer le texte */
}

img {
    max-width: 100px; /* Limiter la taille des images */
    height: auto;
    border-radius: 5px; /* Arrondir les coins des images */
}

/* Styles pour le formulaire d'options */
form {
    display: flex; /* Utiliser Flexbox pour l'alignement des éléments */
    flex-direction: column; /* Aligner verticalement */
    align-items: center; /* Centrer les éléments */
}

input[type="number"], select {
    background-color: #1f1f1f; /* Fond sombre */
    color: #ffffff; /* Texte blanc */
    border: 1px solid #ffffff; /* Bordure blanche */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Remplissage interne */
    margin-top: 5px; /* Marge supérieure */
    width: 100%; /* Prendre toute la largeur */
    max-width: 150px; /* Largeur maximum pour les champs */
}

input[type="number"]:hover, select:hover {
    background-color: #3a3a3a; /* Changement de couleur au survol */
}

h1 i {
    color: white; /* Couleur de l'icône */
    margin-left: 10px; /* Espace entre le titre et l'icône */
    font-size: 1.5em; /* Taille de l'icône */
}
